[submodule "DCM-front"]
	path = DCM-front
	url = https://github.com/lmmc2/DCM-front
[submodule "dcm-middleware"]
	path = dcm-middleware
	url = https://github.com/esvm/dcm-middleware.git
	branch = master
