[submodule "DCM-front"]
	path = front
	url = https://github.com/lmmc2/DCM-front
[submodule "dcm-middleware"]
	path = middleware
	url = https://github.com/esvm/dcm-middleware.git
	branch = master
[submodule "database-api"]
	path = database-api
	url = https://github.com/esvm/dcm-database-api.git
	branch = master
