[submodule "dcm-middleware"]
	path = middleware
	url = https://github.com/esvm/dcm-middleware.git
	branch = master
[submodule "database-api"]
	path = database-api
	url = https://github.com/esvm/dcm-database-api.git
	branch = master
[submodule "DCM-front"]
	path = DCM-front
	url = https://github.com/esvm/DCM-front.git
[submodule "dcm-front-api"]
	path = dcm-front-api
	url = https://github.com/esvm/dcm-front-api.git
